/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #022d50;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #084c9b
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0964cc
  }
    